<!DOCTYPE html>
<html th:fragment="layout(title, content)" lang="en" xmlns:th="http://www.thymeleaf.org" class="antialiased">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} + ' | SEODrift'">SEODrift</title>
    
    <link rel="stylesheet" th:href="@{/dist/styles.css}">
    
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script th:src="@{/js/theme.js}"></script>
</head>

<body class="bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100 flex flex-col min-h-screen transition-colors duration-300 font-sans selection:bg-brand-500 selection:text-white">

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main class="grow container mx-auto px-4 py-8 md:py-12 animate-fade-in">
        <div th:replace="${content}"></div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
    
</body>
</html>